
.main-chatpage-wrapper{
    @apply flex flex-col h-screen;

}

.chat-main-empty {
    @apply flex flex-col h-[30rem] justify-center items-center
}

.chat-main-empty h2 {
    text-align: center!important;
}

.profile-picture-wrapper {
    @apply w-12 h-12 rounded-full relative shrink-0 overflow-hidden;

}

.profile-picture-wrapper img {
    width: 100%;
}

.wrapper{
    @apply flex flex-1 my-0 mx-[-1em] border-t-[2px] border-solid border-[#393954];
    height: calc(100% - 64px)!important;
}

.sidebar {
    @apply h-full border-r-[2px] border-solid border-[#393954] overflow-y-auto;
    width: 300px;
}


.conversation-inner-wrapper {
    @apply flex items-center h-20 p-2 border-b-[2px] border-solid border-[#393954];
}

.conversation-inner-wrapper:hover {
    background-color: #393954!important; 
}

.conversation-info-wrapper {
    @apply flex-1 p-4;
}

.top{
    @apply flex justify-between;

}

.timestamp{
    /* @apply absolute right-0 */
}
.last-message {
    @apply truncate opacity-80 w-[200px]
    
}
/* .chat-user, .last-message {
    text-align: left!important;
} */

.conversation-outer-wrapper {
    cursor: pointer;
}

/* .conversation-outer-wrapper:hover{
    background-color: #393954!important; 
} */


/* ---------------------------Message pane-------------------------- */

.message-pane-main {
    @apply flex flex-1 flex-col h-full;
}

.chat-header {
    display: none;
    align-items: center;
    justify-content: space-between;
}

.chat-header-left {
   @apply h-full relative flex items-center
}

.chat-header-back-arrow {
    @apply mr-1 h-8 pl-2 cursor-pointer;
    filter: invert(1);
}

.chat-header-profile {
    @apply h-full p-4 flex relative items-center;
}

.chat-header-profile img{
    @apply w-12 h-12 rounded-full mr-4;
    cursor: pointer; 
}

.chat-header-username{ 
    @apply inline-block;
    font-weight: 700;
}
.chat-header-info {
    @apply absolute right-0 h-8 pr-2 cursor-pointer;
    filter: invert(1);

}

/* --------------------chat page responsive message bubble ------------------- */

.messages-main-wrapper{
    @apply flex flex-1 flex-col-reverse py-2 px-4;
    @apply overflow-y-auto overflow-x-hidden relative;
}


.message {
    @apply w-full;

}

.message-bubble {
    @apply bg-[#393954] rounded-2xl max-w-[256px] py-2 px-4;
    @apply my-2 mx-0 text-left inline-block relative whitespace-pre-wrap;
    animation: scale-easeOutElastic 2s;
    word-wrap: break-word;
}

.message-timestamp-wrapper {
    @apply float-right ml-1

}

.message-timestamp {
    @apply opacity-80 text-[8px]
    
    /* margin-left: 4px; */

}

.date-separator{
    @apply text-center py-4 px-0;
}

.date-separator span {
    @apply opacity-80 text-[12px] py-1 px-2 rounded-lg bg-[#fff] text-[#222236];
}

.sent-message .message-bubble{
    @apply bg-[green]
}

.sent-message {
    @apply text-right;
}

/* ----------------------- message box ------------------------ */
.message-box-main{
    @apply h-32 flex flex-col relative border-t-[1px] border-[#393954];
}

.message-box{
    @apply flex-1 p-1
}


.message-box textarea {
    @apply h-full whitespace-normal	rounded;

    @apply w-full leading-5 relative inline-flex z-[1] flex-initial select-auto min-h-0;
    @apply align-middle break-normal m-0 no-underline bg-transparent border-0 cursor-text py-2 px-4;
    @apply resize-none text-white bg-[#454566];
    
    outline: 0;
    box-shadow: 0 0 0 0 transparent, 0 0 0 0 transparent, 0 0 0 0 transparent, 0 0 0 1px rgb(60 66 87 / 16%), 0 0 0 0 transparent, 0 0 0 0 transparent, 0 0 0 0 transparent;
    transition: background-color .24s,box-shadow .24s;
    transition-property: background-color,box-shadow;
    transition-duration: .24s,.24s;
    transition-timing-function: ease,ease;
    transition-delay: 0s,0s;
}

/* -----------------------------message-box icons --------------------- */
.message-icons-main {
    @apply flex h-12 items-center py-0 px-4 justify-between border-t-[1px] border-[#393954] border-solid;
}
/* .message-icons {
    display: block;
} */

.icon {
    @apply inline-block cursor-pointer ml-4 opacity-80 h-[30px] duration-[.3s];
    color: white!important;

}

.icon input {
    @apply hidden
}

.icon label {
    @apply cursor-pointer;
    
}

.icon img {
    @apply h-full;
    filter: invert(1);

}

.read-status-icon{
    height: 14px;
    position: relative;
    top: 4px;
    margin-left: 4px;
    display: inline-block;

}

.user-chat-info{
    @apply border-l-[2px] border-solid border-[#393954] overflow-y-auto w-[332px];
}

.user-chat-info-body-inner{
    @apply p-4;
}

.user-chat-info p {
    @apply opacity-80 my-4
}

.underline{
    text-decoration: underline;
}
.line{
    width: 100;
    height: 1px;
    background-color: #eee;
    margin: 12px 0;
}

.sale-main-wrapper{
    text-align: center;
}

.profile-pic-border{
    width: 140px;
    height: 140px;
    border: 3px solid white;
    margin: auto auto 16px;
    -webkit-box-shadow: 2px 3px 9px 0 rgb(0 0 0 / 25%);
}

.profile-user-info h4{
    margin: 0 0 8px;
    font-weight: 500;
}
.bio{
    margin: 0 0 8px;
}

.stats {
    display: inline-flex;
}

.stat-views{
    margin-right: 8px;
}

.stat{
    display: flex;
    align-items: center;
    font-size: 14px;
}
.stat img{
    height: 16px;
    width: 16px;
    filter: invert(1);
    margin-right: 4px;
}

.ranking{
    margin-top: 4px;

}

.socials{
    margin-top: 16px;
    margin-bottom: 8px;
}

.action-btn{
    font-size: 16px!important;
    font-weight: 500;
    background-color: #fff;
    color: #222236;
    font-size: 1.5rem;
    display: inline-flex;
    border-radius: 6px;
    padding: 0.5rem 2rem;
    cursor: pointer;
    transition: .3s;
    transition: opacity .3s ease;
}

.view-profile {
    border: 1px solid #fff;
    color: #fff;
    background-color: #222236;
    margin-top: 8px;
}

.rates {
    font-size: .75em;
    margin-top: 8px;
    opacity: .75;
    padding-bottom: 0.5rem;
}




@media only screen and (max-width: 1000px) { 
    .wrapper{
        display: block;
    }
    .sidebar{
        width: 100%;
    }
    .hide-display{
        display: none;
    }
    .chat-header {
        @apply h-16 p-2 flex relative items-center;
        box-shadow: 0 2px 3px 0 rgb(0 0 0 / 40%);
        /* padding: 0em; */
        /* margin: -1em -1em; */
        justify-content: space-between;
    }
    .user-chat-info{
        width: 100%;

    }
    .mobile-display-toggle {
        display: flex;
    }
    .user-chat-info-body-inner{
        max-width: 332px;
        margin: auto;
    }
 
}
