@import url('https://fonts.googleapis.com/css2?family=Finlandica:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
@import url('../styles/header.css');
@import url('../styles/footer.css');
@import url('../styles/marketplace.css');


@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  @apply font-pbr bg-pbr-darkpurple text-white py-2 px-3
}

.center {
  @apply w-full max-w-[1366px] mx-auto 
}

h2, h3 {
  @apply font-medium my-4
}

h2 {
  @apply text-3xl mt-0
}

h3 {
  @apply text-xl mb-0
}

main {
  @apply py-5
}

.terms {
  @apply max-w-[872px] mx-auto
}

.dropdown {
  @apply  flex flex-col justify-start rounded-md cursor-pointer 
}
.dropdown-header {
  @apply  w-full p-2 rounded-md flex  bg-pbr-purple text-lg relative mb-5
}
.dropdown-content {
  @apply w-full text-white  bg-pbr-darkpurple shadow-lg flex justify-start items-start  left-0  shadow-2xl p-3 mb-2
}
.dropdown-header-content {
  @apply flex justify-center items-center mr-3
}
.caret-down {
  @apply  transform rotate-90
}
.title {
  @apply font-semibold mx-[-5px]
}
.caret {
  @apply  ml-1 font-bold text-xl mr-3
}

.list {
  @apply list-disc bg-yellow-600
}

.blog-card {
  @apply  relative rounded-t-lg w-fit cursor-pointer hover:transform hover:-translate-y-1.5 transition duration-700 ease-in-out
}

.blog-card-date {
  @apply absolute top-1 ml-2 bg-pbr-purple rounded text-[13px] mt-1 p-0.5
}

.blog-card-title {
  @apply bg-black w-[300px] left-2 text-sm h-9 flex justify-start items-center pl-2.5 rounded-b-md
}


@media screen and (max-width: 1300px) { 
  .faq {
    @apply ml-[180px] w-[650px]
  }
  .changelog {
    @apply ml-[180px] w-[650px]
  }
  .blog {
    @apply ml-[180px] w-[650px]
  }
  .privacy {
    @apply ml-[180px] w-[650px]
  }
  .terms {
    @apply ml-[180px] w-[650px]
  }
}
@media screen and (max-width: 1100px) { 
  .faq {
    @apply ml-[180px] w-fit
  }
  .changelog {
    @apply ml-[180px] w-fit
  }
  .blog {
    @apply ml-[180px] w-fit
  }
  .privacy {
    @apply ml-[180px] w-fit
  }
  .terms {
    @apply ml-[180px] w-fit
  }
}

@media screen and (max-width: 768px) {
  .faq {
    @apply  ml-[1px] w-fit
  }
  .changelog {
    @apply ml-[1px] w-fit
  }
  .blog {
    @apply  ml-[1px] w-fit
  }
  .privacy {
    @apply ml-[1px] w-fit
  }
  .terms {
    @apply ml-[1px] w-fit
  }
}
@media screen and (max-width: 576px) {
  .blog {
    @apply  ml-[1px] w-fit 
  }
  .blogcards {
    @apply flex flex-col items-start
  }
}
